.pda-modal {
  &-title {
    text-align: left;
    position: relative;
    top: -8px;
  }
  
  .adm-modal-content {
    height: 30vh;
    max-height: 30vh;
  }
  
  &-body {
    height: 100%;
    display: flex;
  
    &-label {
      white-space: nowrap;
      display: flex;
      align-items: center;
      font-size: 16px;
      margin-right: 4px;
    }
  
    .adm-picker-view {
      height: 100%;
    }
  
    .adm-picker-view-mask-middle {
      border: solid 1px var(--adm-color-border);
    }
  }
}
